.chart {
  background: lightgray;
  border: 1px solid black;
  min-width: 425px;
  min-height: 625px;
}

.bar {
  height: 30px;
  color: green;
  fill: lightgreen;
  stroke: black;
  stroke-width: 1;
}

.barOn {
  fill: lightblue;
}